:root {
    --text-color: green;
}

main {
    --my-color: green;
    color: var(--my-color);
}

.box {
    width: 100%;
    height: 120px;
    background: pink;
}

a::after {
    content: " ("attr(href)")"
}

.box::after {
    content: attr(data-title);
}